<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{{ .Site.BaseURL }}">Dinan Yan</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class ="nav-link" href="{{ .Site.BaseURL }}about">About</a>
          </li>
          
          <!-- <li class="nav-item">
            <a class ="nav-link" href="{{ .Site.BaseURL }}final-project">Final Project</a>
          </li> -->

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarFinalProject" role="button" data-bs-toggle="dropdown">
              Final Project
            </a>
            <ul class = "dropdown-menu">
              <li>
                <a class="dropdown-item" href="{{ .Site.BaseURL }}final-project/ferrotank">FerroTank</a>
              </li>

              <li>
                <a class="dropdown-item" href="{{ .Site.BaseURL }}final-project/multitouch">1.Multitouch</a>
              </li>

              <li>
                <a class="dropdown-item" href="{{ .Site.BaseURL }}final-project/magnets">2.Magnets</a>
              </li>

              <li>
                <a class="dropdown-item" href="{{ .Site.BaseURL }}final-project/ferrofluid-container">3.Ferrofluid Container</a>
              </li>

              <li>
                <a class="dropdown-item" href="{{ .Site.BaseURL }}final-project/showcase">Digital Fabrication Showcase</a>
              </li>

              <li>
                <a class="dropdown-item" href="{{ .Site.BaseURL }}final-project/idea">Idea</a>
              </li>

              <li>
                <a class="dropdown-item" href="{{ .Site.BaseURL }}final-project/applications-and-implications">Applications and Implications</a>
              </li>
              
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarAssignments" role="button" data-bs-toggle="dropdown">
              Assignments
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{{ .Site.BaseURL }}assignments/project-management">Project Management</a>
              </li>
              
              <li>
                <a class="dropdown-item" href="{{ .Site.BaseURL }}assignments/principles-and-practices">Principles and Practices</a>
              </li>

              <li>
                <a class="dropdown-item" href="{{ .Site.BaseURL }}assignments/computer-aided-design">Computer-Aided Design</a>
              </li>

              <li>
                <a class="dropdown-item" href="{{ .Site.BaseURL }}assignments/computer-controlled-cutting">Computer-Controlled Cutting</a>
              </li>

              <li>
                <a class="dropdown-item" href="{{ .Site.BaseURL }}assignments/electronics-production">Electronics Production</a>
              </li>

              <li>
                <a class="dropdown-item" href="{{ .Site.BaseURL }}assignments/3d-scanning-and-printing">3D Scanning and Printing</a>
              </li>

              <li>
                <a class="dropdown-item" href="{{ .Site.BaseURL }}assignments/electronics-design">Electronics Design</a>
              </li>

              <li>
                <a class="dropdown-item" href="{{ .Site.BaseURL }}assignments/computer-controlled-machining">Computer Controlled Machining</a>
              </li>

              <li>
                <a class="dropdown-item" href="{{ .Site.BaseURL }}assignments/embedded-programming">Embedded Programming</a>
              </li>

              <li>
                <a class="dropdown-item" href="{{ .Site.BaseURL }}assignments/mechanical-and-machine-design">Mechanical and Machine Design</a>
              </li>

              <li>
                <a class="dropdown-item" href="{{ .Site.BaseURL }}assignments/input-devices">Input Devices</a>
              </li>

              <li>
                <a class="dropdown-item" href="{{ .Site.BaseURL }}assignments/molding-and-casting">Molding and Casting</a>
              </li>

              <li>
                <a class="dropdown-item" href="{{ .Site.BaseURL }}assignments/output-devices">Output Devices</a>
              </li>

              <li>
                <a class="dropdown-item" href="{{ .Site.BaseURL }}assignments/networking-and-communications">Networking and Communications</a>
              </li>

              <li>
                <a class="dropdown-item" href="{{ .Site.BaseURL }}assignments/interface-and-application-programming">Interface and Application Programming</a>
              </li>


              <li>
                <a class="dropdown-item" href="{{ .Site.BaseURL }}assignments/wildcard">Wildcard</a>
              </li>


            </ul>
          </li>

        </ul>
      </div>
    </div><!-- /.container-->
  </nav>