<div class="row row-cols-2 row row-cols-md-4">
    <div class = "col">
      <div class="card">
        <img class ="card-img-top" src="{{ .Site.BaseURL }}assignments/project-management/thumbnail.jpg" alt="Project Management Thumbnail">
        <div class="card-body">
          <h5 class="card-title">Assignment 01</h5>
          <p class ="card-text">Project Management</p>
          <a class="btn btn-primary" href="{{ .Site.BaseURL }}assignments/project-management">View</a>
        </div>
      </div>
    </div>

    <div class = "col">
      <div class="card">
        <img class ="card-img-top" src="{{ .Site.BaseURL }}assignments/principles-and-practices/thumbnail.jpg" alt="Principles and Practices Thumbnail">
        <div class="card-body">
          <h5 class="card-title">Assignment 02</h5>
          <p class ="card-text">Principles and Practices</p>
          <a class="btn btn-primary" href="{{ .Site.BaseURL }}/assignments/principles-and-practices">View</a>
        </div>
      </div>
    </div>


    <div class = "col">
      <div class="card">
        <img class ="card-img-top" src="{{ .Site.BaseURL }}assignments/computer-aided-design/thumbnail.jpg" alt="Computer-Aided Design Thumbnail">
        <div class="card-body">
          <h5 class="card-title">Assignment 03</h5>
          <p class ="card-text">Computer-Aided Design</p>
          <a class="btn btn-primary" href="{{ .Site.BaseURL }}assignments/computer-aided-design">View</a>
        </div>
      </div>
    </div>

    <div class = "col">
      <div class="card">
        <img class ="card-img-top" src="{{ .Site.BaseURL }}assignments/computer-controlled-cutting/thumbnail.jpg" alt="Computer-Controlled Cutting Thumbnail">
        <div class="card-body">
          <h5 class="card-title">Assignment 04</h5>
          <p class ="card-text">Computer-Controlled Cutting</p>
          <a class="btn btn-primary" href="{{ .Site.BaseURL }}assignments/computer-controlled-cutting">View</a>
        </div>
      </div>
    </div>

    <div class = "col">
      <div class="card">
        <img class ="card-img-top" src="{{ .Site.BaseURL }}assignments/electronics-production/thumbnail.jpg" alt="Electronics Production Thumbnail">
        <div class="card-body">
          <h5 class="card-title">Assignment 05</h5>
          <p class ="card-text">Electronics Production</p>
          <a class="btn btn-primary" href="{{ .Site.BaseURL }}assignments/electronics-production">View</a>
        </div>
      </div>
    </div>

    <div class = "col">
      <div class="card">
        <img class ="card-img-top" src="{{ .Site.BaseURL }}assignments/3d-scanning-and-printing/thumbnail.jpg" alt="3D Thumbnail">
        <div class="card-body">
          <h5 class="card-title">Assignment 06</h5>
          <p class ="card-text">3D Scanning and Printing</p>
          <a class="btn btn-primary" href="{{ .Site.BaseURL }}assignments/3d-scanning-and-printing">View</a>
        </div>
      </div>
    </div>

    <div class = "col">
      <div class="card">
        <img class ="card-img-top" src="{{ .Site.BaseURL }}assignments/electronics-design/thumbnail.jpg" alt="Electronics Design Thumbnail">
        <div class="card-body">
          <h5 class="card-title">Assignment 07</h5>
          <p class ="card-text">Electronics Design</p>
          <a class="btn btn-primary" href="{{ .Site.BaseURL }}assignments/electronics-design">View</a>
        </div>
      </div>
    </div>

    <div class = "col">
      <div class="card">
        <img class ="card-img-top" src="{{ .Site.BaseURL }}assignments/computer-controlled-machining/thumbnail.jpg" alt="Computer Controlled Machining Thumbnail">
        <div class="card-body">
          <h5 class="card-title">Assignment 08</h5>
          <p class ="card-text">Computer Controlled Machining</p>
          <a class="btn btn-primary" href="{{ .Site.BaseURL }}assignments/computer-controlled-machining">View</a>
        </div>
      </div>
    </div>

    <div class = "col">
      <div class="card">
        <img class ="card-img-top" src="{{ .Site.BaseURL }}assignments/embedded-programming/thumbnail.jpg" alt="Embedded Programming Thumbnail">
        <div class="card-body">
          <h5 class="card-title">Assignment 09</h5>
          <p class ="card-text">Embedded Programming</p>
          <a class="btn btn-primary" href="{{ .Site.BaseURL }}assignments/embedded-programming">View</a>
        </div>
      </div>
    </div>

    <div class = "col">
      <div class="card">
        <img class ="card-img-top" src="{{ .Site.BaseURL }}assignments/mechanical-and-machine-design/thumbnail.jpg" alt="Mechanical and Machine Design Thumbnail">
        <div class="card-body">
          <h5 class="card-title">Assignment 10</h5>
          <p class ="card-text">Mechanical and Machine Design</p>
          <a class="btn btn-primary" href="{{ .Site.BaseURL }}assignments/mechanical-and-machine-design">View</a>
        </div>
      </div>
    </div>

    <div class = "col">
      <div class="card">
        <img class ="card-img-top" src="{{ .Site.BaseURL }}assignments/input-devices/thumbnail.jpg" alt="Input Devices Thumbnail">
        <div class="card-body">
          <h5 class="card-title">Assignment 11</h5>
          <p class ="card-text">Input Devices</p>
          <a class="btn btn-primary" href="{{ .Site.BaseURL }}assignments/input-devices">View</a>
        </div>
      </div>
    </div>

    <div class = "col">
      <div class="card">
        <img class ="card-img-top" src="{{ .Site.BaseURL }}assignments/molding-and-casting/thumbnail.jpg" alt="Molding and Casting Thumbnail">
        <div class="card-body">
          <h5 class="card-title">Assignment 12</h5>
          <p class ="card-text">Molding and Casting</p>
          <a class="btn btn-primary" href="{{ .Site.BaseURL }}assignments/molding-and-casting">View</a>
        </div>
      </div>
    </div>

    <div class = "col">
      <div class="card">
        <img class ="card-img-top" src="{{ .Site.BaseURL }}assignments/output-devices/thumbnail.jpg" alt="Output Devices Thumbnail">
        <div class="card-body">
          <h5 class="card-title">Assignment 13</h5>
          <p class ="card-text">Output Devices</p>
          <a class="btn btn-primary" href="{{ .Site.BaseURL }}assignments/output-devices">View</a>
        </div>
      </div>
    </div>

    <div class = "col">
      <div class="card">
        <img class ="card-img-top" src="{{ .Site.BaseURL }}assignments/networking-and-communications/thumbnail.jpg" alt="Networking and Communications Thumbnail">
        <div class="card-body">
          <h5 class="card-title">Assignment 14</h5>
          <p class ="card-text">Networking and Communications</p>
          <a class="btn btn-primary" href="{{ .Site.BaseURL }}assignments/networking-and-communications">View</a>
        </div>
      </div>
    </div>

    <div class = "col">
      <div class="card">
        <img class ="card-img-top" src="{{ .Site.BaseURL }}assignments/interface-and-application-programming/thumbnail.jpg" alt="Interface and Application Programming Thumbnail">
        <div class="card-body">
          <h5 class="card-title">Assignment 15</h5>
          <p class ="card-text">Interface&Application Programming</p>
          <a class="btn btn-primary" href="{{ .Site.BaseURL }}assignments/interface-and-application-programming">View</a>
        </div>
      </div>
    </div>

    <div class = "col">
      <div class="card">
        <img class ="card-img-top" src="{{ .Site.BaseURL }}assignments/wildcard/thumbnail.jpg" alt="Wildcard Thumbnail">
        <div class="card-body">
          <h5 class="card-title">Assignment 16</h5>
          <p class ="card-text">Wildcard</p>
          <a class="btn btn-primary" href="{{ .Site.BaseURL }}assignments/wildcard">View</a>
        </div>
      </div>
    </div>

  </div>