<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ .Page.Title}} - {{.Site.Title}}</title>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}assets/css/style.css">

    <style>
      video { width: 100%; }
    </style>
  </head>
  <body>

    {{ partial "navigation" .}}

    <header class ="container py-5">
      <h1 class="display-1">{{ .Page.Title }}</h1>
      <p class="lead">{{ .Page.Params.Lead }}</p>
    </header>

    <main class="container pb-5">
      {{ partial "thumbnail" .}}
    </main>
    
    <footer class="container pb-2">
      &copy; {{ .Site.Copyright  }} {{ now.Format "2006"}}
    </footer>

    <script src="{{ .Site.BaseURL }}assets/js/bootstrap.min.js"></script>
    <script src="{{ .Site.BaseURL }}assets/js/mysketch.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.3.0/p5.js" integrity="sha512-kA8S+b0k7IrbFuN0au5kH1VGaMrxmxJMX1b2OY+nLkpcosmqiOxHHIasItf/+fYw6THZ6kAVdB8NzFmTee43Cw==" crossorigin="anonymous"></script>

  </body>
</html>
