<div class="container-fluid">
    <div class ="row">
        <div class ="col-md-7">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="{{ .Get `src` }}" allowfullscreen="true"
                webkitallowfullscreen="true" mozallowfullscreen="true" width ="100%" height="360">
                </iframe>
            </div>
        </div>

        <div class ="col-md-5">
        </div>
    </div>
    
</div>
