<div class = "row pb-3">
    <div class="col-md-5">
        <img class="img-fluid" src="{{ .Get `src` }}" alt="{{ .Get `alt` }}">
    </div>
    <div class="col-md-7">
        <p>{{ .Inner }}</p>
    </div>
</div>