<div class="container-fluid">
    <div class ="row">
        <div class ="col-md-3">
            <div class="embed-responsive embed-responsive-16by9">
                <video controls muted autoplay loop playsinline>
                    <source src = "{{ .Inner}}" 
                            type = "video/mp4">
                </video>
            </div>
        </div>

        <div class ="col-md-9">
        </div>
    </div>
    
</div>

